<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" required email>
      <mat-error class="error-message" *ngIf="inEmail.invalid">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username" required
        pattern=".{3,}">
      <mat-error class="error-message" *ngIf="upNickname.invalid">At least three characters</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType !== dialogType.ResetPassword">
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Password" required pattern=".{4,16}">
      <mat-error class="error-message" *ngIf="upPassword.invalid">Four to sixteen characters</mat-error>
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary" [disabled]="authForm.invalid"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : (data.dialogType === dialogType.SignIn ? signIn() : reset())">{{title}}</button>
</div>