<mat-card *ngIf="show">
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment(true)">
      <mat-icon matBadge="{{likeCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likeCount() === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likeComment(false)">
      <mat-icon matBadge="{{dislikeCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikeCount() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <app-like-list *ngIf="comment.reactions.length !== 0" [reactions]="comment.reactions"></app-like-list>
    <button *ngIf="currentUser && comment.author.id===currentUser.id" mat-icon-button color="basic"
      (click)="toggleUpdateCommentContainer()">
      <mat-icon aria-label="Edit comment">edit</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="currentUser && showCommentContainer">
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="updateComment.body" matInput placeholder="Edit comment..."></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button color="primary" matTooltip="Delete it" (click)="deleteComment()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>