<mat-card class="main-content align-center">
    <form name="resetForm" #resetForm="ngForm" class="main-content">
        <mat-form-field>
            <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
                [type]="hidePass ? 'password' : 'text'" placeholder="New password" required pattern=".{4,16}">
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error class="error-message" *ngIf="upPassword.invalid">Four to sixteen characters</mat-error>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="resetForm.invalid" (click)=" saveNewInfo()">
            Save
        </button>
        <button mat-raised-button [routerLink]="['./thread']">
            Back
        </button>
    </div>
</mat-card>