<h1 mat-dialog-title class="title">Reactions:</h1>
<div mat-dialog-content>
    <div *ngIf="likeCount() !== 0">
        <h2 mat-dialog-title>Likes:</h2>
        <ng-container *ngFor="let reaction of data">
            <div class="like_row" *ngIf="reaction.isLike">
                <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
                <p>{{reaction.user.userName}}</p>
            </div>
        </ng-container>
    </div>
    <div *ngIf="dislikeCount() !== 0">
        <h2 mat-dialog-title>Dislikes:</h2>
        <ng-container *ngFor="let reaction of data">
            <div class="like_row" *ngIf="!reaction.isLike">
                <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
                <p>{{reaction.user.userName}}</p>
            </div>
        </ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>