.like_row
    display: flex
    flex-direction: row

.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center
    font-size: 15px

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default