<mat-card *ngIf="show" [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost(true)">
      <mat-icon matBadge="{{likeCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likeCount() === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(false)">
      <mat-icon matBadge="{{dislikeCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikeCount() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="share()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    <app-like-list *ngIf="post.reactions.length !== 0" [reactions]="post.reactions"></app-like-list>
    <button *ngIf="currentUser && post.author.id===currentUser.id" mat-icon-button color="basic"
      (click)="toggleUpdatePostContainer()">
      <mat-icon aria-label="Edit post">edit</mat-icon>
    </button>
  </mat-card-actions>

  <div *ngIf="currentUser && showPostContainer">
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="updatePost.body" matInput placeholder="Edit post..."></textarea>
      </mat-form-field>
      <div class="image-container">
        <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
        <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Delete it" (click)="deletePost()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendPost()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </mat-card-actions>
  </div>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"></app-comment>
  </div>
</mat-card>