<mat-card>
    <mat-card-header>
        <mat-card-title>Share post</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input name="address" [(ngModel)]="address" #shareAddress="ngModel" matInput placeholder="Email" required
                email>
            <mat-error class="error-message" *ngIf="shareAddress.invalid">Invalid email</mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button color="primary" [disabled]="shareAddress.invalid" mat-dialog-close
            (click)="send()">Send</button>
    </mat-card-actions>
</mat-card>